body {
    text-align: center;
}

h1 {
    letter-spacing: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10rem;
    margin-bottom: 0;
}

.fa-stop {
    font-size: 1.5rem;
    color: black;
}

button {
    height: 7rem;
}

#volume i {
    height: 100px;
    padding: 1rem;
}

#volume {
    padding: 1rem;
    width: 100%;
}

@media screen and (max-width: 800px) {
    #volume {
        display: none;
    }
}
